<?xml version="1.0"?>
<model>
  <name>cappadocia</name>
  <version>1.2</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Can Altineller</name>
    <email>can@acada.dev</email>
  </author>
  <description>
    Gazebo package for simulation of robots in Göreme National Park and the Rock Sites of Cappadocia, a UNESCO World Heritage Site: https://en.wikipedia.org/wiki/Cappadocia
  </description>
</model>